generated_at: "{{ ansible_date_time.iso8601 }}"
inventory_hostname: "{{ inventory_hostname }}"
server: "{{ ansible_host | default(inventory_hostname) }}"
base_url: "{{ magento_base_url }}"
admin_url: "{{ magento_admin_url }}"
admin_user: "{{ magento_admin_user }}"
admin_email: "{{ magento_admin_email }}"
deployment_mode: "{{ magento_deploy_mode }}"
application_root: "{{ magento_app_root }}"