upstream fastcgi_backend {
    server unix:/run/php/php{{ magento_php_version }}-fpm-magento.sock;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ magento_domain }};

    location ^~ /.well-known/acme-challenge/ {
        root {{ magento_acme_webroot }};
        default_type text/plain;
        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ magento_domain }};
    set $MAGE_ROOT {{ magento_app_root }};
    client_max_body_size {{ magento_nginx_client_max_body_size }};

    ssl_certificate /etc/letsencrypt/live/{{ magento_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ magento_domain }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers off;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

    include /etc/nginx/snippets/phpmyadmin.conf;

    include {{ magento_app_root }}/nginx.conf;
}
