[defaults]
inventory = ./inventory.yml
roles_path = ./roles
interpreter_python = auto_silent
retry_files_enabled = False
deprecation_warnings = False
forks = 10
timeout = 30

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
