memory_limit = {{ magento_php_memory_limit }}
max_execution_time = 1800
max_input_time = 1800
max_input_vars = 20000
post_max_size = {{ magento_php_post_max_size }}
upload_max_filesize = {{ magento_php_upload_max_filesize }}
date.timezone = {{ magento_timezone }}
expose_php = Off
cgi.fix_pathinfo = 0
realpath_cache_size = 10M
realpath_cache_ttl = 7200
opcache.enable = 1
opcache.enable_cli = 1
opcache.memory_consumption = {{ magento_php_opcache_memory_consumption }}
opcache.interned_strings_buffer = 32
opcache.max_accelerated_files = 65407
opcache.validate_timestamps = 0
opcache.revalidate_freq = 0
